* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: montserrat,sans-serif;
}
/* 
input, button{
  appearance: none;
  background: none;
  border: none;
  outline: none;
} */

.Appp{
  height: 80vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

form {
  display: block;
  position: relative;
}

/* form:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, yellow, red);
} */

form .form-inner{
  position: relative;
  display: block;
  background-color: white;
  padding: 30px;
  z-index: 2;
}

form .form-inner h2{
  color: black;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group{
  display: block;
  width: 30vw;
  margin-bottom: 15px;
}

.form-inner .form-group label{
  display: block;
  color: red;
  font-size: 16px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label{
  color: blue;
}

form .form-inner .form-group input{
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius:8px;
  transition: 0.4s;
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

form .form-inner .form-group input:focus{
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

form .form-inner input[type='submit']{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: black;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type='submit']:hover{
  background-position: 100% 0%;
  background-color: red;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.listContainer {
  margin: 2%;
  border: 3px solid grey;
  border-radius: 5px;
  padding: 8px;
}

footer{
  position:absolute;
  bottom:0;
  width: 100%;
  background-color: black;
  text-align: center;
  color: red;
}